#mySwiper{
    width: 100%;
    position: relative;
}
#mySwiper::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    position: absolute;
    background-image: url('/src/components/assest/finacial.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}


